# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env
kisan_backend/.env
kisan_backend/firebase_admin.json
# Miscellaneous
*.log
*.sqlite3
.DS_Store
.idea/

